<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">SUBER MARKET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="text-danger" routerLink="" [routerLinkActiveOptions]="{'exact':true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="text-danger" routerLink="product">PROUDACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="text-danger" routerLink="cart">CART</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="helps" routerLinkActive="text-danger">HELP</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            USER ACCOUNT
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="login" routerLinkActive="text-danger"> LOGIN</a></li>
            <li><a class="dropdown-item" routerLink="register" routerLinkActive="text-danger">REGISTER</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="order" routerLinkActive="text-danger">ORDER</a></li>
          </ul>
        </li>
        
     
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>